{% extends 'index.html' %}
{% block title %} Sign In {% endblock %}
{% block content %}
<div class="container-md">
    <form class="row g-3">
      <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="email@example.com" required>
      </div>
      <!-- <div class="col-md-6">
        <label for="inputPassword4" class="form-label">Password</label>
        <input type="password" class="form-control" id="inputPassword4">
      </div> -->
      <div class="col-12">
        <label for="password1" class="form-label">Password</label>
        <input type="password" class="form-control" name="pw" id="password1" placeholder="password" required>
      </div>
      <div class="col-12">
        <label for="confirmPassword" class="form-label">Confirm Password</label>
        <input type="password" class="form-control" id="confirmPassword" name="cpw" placeholder="comfirm password" required>
      </div>
      <div class="col-md-6">
        <label for="firstName" class="form-label">First Name</label>
        <input type="text" class="form-control" id="firstName" name="firstName" required>
      </div>
      <div class="col-md-6">
        <label for="lastName" class="form-label">Last Name</label>
        <input type="text" class="form-control" id="lastName" name="lastName" required>
      </div>
      
      <div class="col-md-6">
        <label for="phoneNo" class="form-label">Phone No</label>
        <input type="text" class="form-control" id="phoneNo" name="phoneNo" required>
      </div>
      <div class="col-md-4">
        <label for="inputState" class="form-label">Gender</label>
        <select id="inputState" class="form-select" required>
          <option selected>Choose...</option>
          <option>Male</option>
          <option>Female</option>
          <option>Others</option>
        </select>
      </div>

      <div class="col-md-2">
        <label for="dob" class="form-label">Date of Birth</label>
        <input type="date" class="form-control" id="dob" name="dob" required>
      </div>

      <div class="col-12">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="gridCheck">
          <label class="form-check-label" for="gridCheck">
            Check me out
          </label>
        </div>
      </div>
      <div class="col-12">
        <a href="">Already got an account.</a>
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-primary">Sign Up</button>
      </div>
  </form>
</div>

{% endblock %}